blockquote {
    font-style: italic;
}

span.word:hover {
    color: gray;
    font-weight: 500;
    cursor: pointer;
}

span.highlighted:hover,
span.highlighted {
    color: red;
    font-weight: 500;
}

.wrap-text {
    overflow: auto;
    height: 80vh;
    line-height: 150%;
    font-size: 24px;
    padding: 0.5vh 2.5vh;
}

div.index {
    padding: 0.5vh 2.5vh;
}

a, a:visited, a:hover, a:active {
    color: #1976d2;
    text-decoration: none;
}  

div.index > ol > li,
div.index > ul > li {
    margin: 5px;
}

#definition {
    /* Original color: #ef5350; */
    border-top: 3px solid #1976d2;
    font-size: 28px;
    overflow: auto;
    padding: 0.25vh 2.5vh;
}

.navbar {
    /* Original color: #ef5350; */
    font-size: 20px;
    padding: 0.5vh;
    color: white;
    background-color: #1976d2;
}

div.navbar > a {
    text-decoration: none;
    color: white;
}

.defined_word,
#defined_word {
    color: red;
    font-weight: bold;
    font-size: 32px;
}

.grammar,
#grammar {
    color: #1919d1;
    font-size: 26px;
    font-style: italic;
}